registry=https://repo.huaweicloud.com/repository/npm/
@exzi-library:registry=https://artifact.codearts.tr-west-1.huaweicloud.com/artgalaxy/api/npm/tr-west-1_c97185547158480d9978a8f3470f5e37_npm_1/
strict-ssl=false
always-auth=true
email= qorkemacar@gmail.com
//artifact.codearts.tr-west-1.huaweicloud.com/artgalaxy/api/npm/tr-west-1_c97185547158480d9978a8f3470f5e37_npm_1/:_auth=dHItd2VzdC0xX2M5NzE4NTU0NzE1ODQ4MGQ5OTc4YThmMzQ3MGY1ZTM3Xzc0MWI2MGJmNjY2NTQ0OTc5OWI4Mjc5ZTNhOWNiYmQ0Okg4X2c0V3lecVg=